<!-- Start Promo section -->
<section id="aa-promo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-promo-area">
          <div class="row">
            <!-- promo left -->
            <div class="col-md-5 no-padding">
              <div class="aa-promo-left">
                <div class="aa-promo-banner">
                  <img src="<%= @first_promo.bg_img %>" alt="<%= @first_promo.title %>">
                  <div class="aa-prom-content">
                    <span><%= @first_promo.tagline %></span>
                    <h4><a href="<%= @first_promo.link %>"><%= @first_promo.title %></a></h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- promo right -->
            <div class="col-md-7 no-padding">
              <div class="aa-promo-right">
              <% @promos.each do |promo| %>
                <div class="aa-single-promo-right">
                  <div class="aa-promo-banner">
                    <img src="<%= promo.bg_img %>" alt="<%= promo.title %>">
                    <div class="aa-prom-content">
                      <span><%= promo.tagline %></span>
                      <h4><a href="<%= promo.link %>"><%= promo.title %></a></h4>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Promo section -->
