<!-- Start slider -->
<section id="aa-slider">
  <div class="aa-slider-area">
    <div id="sequence" class="seq">
       <ul class="seq-canvas">
          <!-- single slide item -->
          <% @sliders.each do |slider| %>
          <li>
            <div class="seq-model">
              <img data-seq src="<%= slider.bg_img %>" alt="<%= slider.title %>" />
            </div>
            <div class="seq-title">
             <span data-seq><%= slider.tagline %></span>
              <h2 data-seq><%= slider.title %></h2>
              <p data-seq><%= slider.description %></p>
              <a data-seq href="<%= slider.button_link %>" class="aa-shop-now-btn aa-secondary-btn"><%= slider.button_text %></a>
            </div>
          </li>
          <% end %>
        </ul>
      <!-- slider navigation btn -->

<!--               <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
              </fieldset> -->

    </div>
  </div>
</section>
<!-- / slider -->
