<!-- Testimonial -->
<section id="aa-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-testimonial-area">
          <ul class="aa-testimonial-slider">
            <% @testimonials.each do |testimonial| %>
            <!-- single slide -->
            <li>
              <div class="aa-testimonial-single">
              <img class="aa-testimonial-img" src="<%= testimonial.picture %>" alt="testimonial img">
                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                <p><%= testimonial.comment %></p>
                <div class="aa-testimonial-info">
                  <p><%= testimonial.name %></p>
                  <span><%= testimonial.job_title %></span>
                  <a><%= testimonial.company %></a>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Testimonial -->
