<!DOCTYPE html>
<html>
  <head>
    <title>Zunecommerce</title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <link href="/jquery.simpleLens.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.css" />
    <link href="/purple-theme.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render partial: "layouts/header", layout: false %>

    <%= yield %>

    <%= render partial: "layouts/footer", layout: false %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
